<script>
    var valAnimals = 1;
    function sa(val) {
        alert(val);
    }
</script>
<div class="container">
    <h2>HAYVAN BİLGİSİ</h2>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">HAYVAN SATIŞI</div>
            <div class="table-responsive table-bordered">
                <table id="dataTableAnimal" class="table table-dark" style="width:100%;height:90%;">
                    <thead>
                        <tr class="">
                            <th class="active" colspan="2"><div style="text-align:center">HAYVAN</div></th>
                            <th class="active"><div style="text-align:center">BİRİM FİYATI</div></th>
                            <th class="active"></th>
                        </tr>
                    </thead>
                    <tbody id="hayvanTablosu"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>