<script>
    valFeeds = 1;
</script>

<div class="container">
    <a href="#" class="btn btn-info btn-lg" style="margin-bottom:20px">
        <span class="glyphicon glyphicon-triangle-right"></span> Yem Depom
    </a>

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">Yemlerim</div>
            <div class="table-responsive table-bordered">
                <table id="dataTableYem" class="table table-dark" style="width:100%;height:90%;">
                    <thead>
                        <tr class="">
                            <th class="active" colspan="2"><div style="text-align:center">HAYVAN</div></th>
                            <th class="active"><div style="text-align:center;">YILLIK YEM MİKTARI</div></th>
                            <th class="active"><div style="text-align:center">YILLIK YEM FİYATI</div></th>
                            <th class="active"></th>
                        </tr>
                    </thead>
                    <tbody id="yemTablosu"></tbody>
                </table>
                </div>
            </div>
        </div>
</div>




