<script>
    var valCore = 1;
</script>
<div class="container">
    <h2>PORTAL</h2>
    <div class="row centered-form">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">HAYVANLARIM</div>
                <div class="table-responsive table-bordered">
                    <table id="dataTable" class="table table-dark" style="width:100%;height:90%;">
                        <thead>
                            <tr class="">
                                <th class="active" colspan="2"><div style="text-align:center">HAYVAN</div></th>
                                <th class="active"><div style="text-align:center;">HAYVAN SAYISI</div></th>
                                <th class="active"><div style="text-align:center">BİRİM FİYATI</div></th>
                            </tr>
                        </thead>
                        <tbody id="anaTablo"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        <div class="row centered-form">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">DEPOM</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <div class="panel panel-info">
                                        DEPO MİKTARI
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <div class="col-md-6" id="divStroAmount">
                                        <span id="spanstoreAmout" class="badge">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row centered-form">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">YEMLERİM</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <div class="panel panel-info">
                                        YEM MİKTARI
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <div class="col-md-6" id="divStroAmount">
                                        <span id="spanFeedAmout" class="badge">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
