<script>
    valStore = 1;
</script>

<div class="container">
    <h2>DEPO BİLGİSİ</h2>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">DEPO SATIŞI</div>
            <div class="table-responsive table-bordered">
                <table id="dataTableStore" class="table table-dark" style="width:100%;height:90%;">
                    <thead>
                        <tr class="">
                            <th class="active"><div style="text-align:center">DEPO</div></th>
                            <th class="active"><div style="text-align:center">BİRİM FİYATI</div></th>
                            <th class="active"></th>
                        </tr>
                    </thead>
                    <tbody id="depoTablosu"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
